{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'shop/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>



	{% block mainmenu %}
			<div class="header">
				<ul id="mainmenu" class="mainmenu">
					<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>

					<li><a href="{% url 'catalog' %}"> Каталог</a></li>
					<li><a href="{% url 'contact' %}"> Контакты</a></li>

					{% if request.user.is_authenticated %}
						<li class="last">
							<a href="{% url 'account' user.username %}">{{user.username}}</a> |
							<a href="{% url 'logout' %}">Выйти</a></li>
					{% else %}
						<li class="last">
						<a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
					{% endif %}
					<li class="last"><a href="{% url 'basket' %}">Корзина</a></li>

				</ul>

			<div class="clear"></div>
			</div>
	{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>




<!-- Sidebar слева -->
{% if cats %}
	<td valign="top" class="left-chapters">
		<ul id="leftchapters">

			{% for c in cats %}
				{% if c.slug == cat_selected %}
					<li class="selected"><a href="{{ c.get_absolute_url }}">🚀 {{c.name}}</a></li>
				{% else %}
					<li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
				{% endif %}
			{% endfor %}

			<li class="share">
				<p>Наш канал</p>
				<a class="share-yt" href="https://www.youtube.com/c/KerbalSpaceProgramOfficial" target="_blank" rel="nofollow"></a>
			</li>
		</ul>
	</td>
{% endif %}

{% if basket_menu %}
	<td valign="top" class="left-chapters">
		<ul id="leftchapters">

			{% for cat, cat_url_name in basket_menu.items %}
				{% if cat == cat_selected %}
					<li class="selected">🚀 {{cat}}</li>
				{% else %}
					<li><a href="{% url cat_url_name user.username %}">{{cat}}</a></li>
				{% endif %}
			{% endfor %}

			<li class="share">
				<p>Наш канал</p>
				<a class="share-yt" href="https://www.youtube.com/c/KerbalSpaceProgramOfficial" target="_blank" rel="nofollow"></a>
			</li>
		</ul>
	</td>
{% endif %}


<!-- Конец Sidebar'а -->
<td valign="top" class="content">




	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}




<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- Конец блока контента -->




<!-- Пагинация -->

<!-- Конец пагинации -->





</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2022 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго разрешено.</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>
