{% extends 'shop/base.html' %}

{% block content %}

{% if cart %}

    {% for prod, quant in cart.items %}
        <div id="container">
            <!--Рисуем основное фото. Оно кликабельно и разворачивает картинку в полный экран. Второй div id="full" скрыт-->
            <div>
                <a href="#full">
                    <img src="{{prod.primary_photo.url}}">
                </a>

                <div id="full" class="popup">
                    <a href="#">
                        <img class="full-img" src="{{prod.primary_photo.url}}">
                    </a>
                </div>

            </div>


            <div class="basket-container">

                <div class="product-price">{{prod.price}} ({{prod.currency}})</div>
                <div>
                    <form class="inlines-form" action="{% url 'basket' %}" method="post">
                        {% csrf_token %}
                        <button class="glow-button" type="submit">Изменить количество</button>
                        <h5>Количество:</h5>
                        <input type="number" name="re-quantity" value="{{quant}}" min="1" max="{{prod.quantity}}" required="" id="id_quantity">
                        <input type="hidden" name="re-quantity-prod-id" value="{{prod.id}}" required="" id="id_quantity-prod">
                    </form>
                </div>
                <div>Доступно на складе: {{prod.quantity}}</div>
                <div class="total-price-div">
                    {% for p, q in prices.items %}
                        {% if p == prod %}
                            Общая стоимость: {{q}}
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    <form class="inlines-form" action="{% url 'basket' %}" method="post">
                        {% csrf_token %}
                        <button class="glow-button-del" type="submit">Удалить товар</button>
                        <input type="hidden" name="del-item" value="{{prod.id}}" required="" id="del-item">
                    </form>
                </div>




            </div>
        </div>
    {% endfor %}
<div class="overall-price">

    <div>К оплате:</div>
    <ul>

        {% for p, q in prices.items %}
        <li>
            {{q}} {{p.currency}}
        </li>
        {% endfor %}

    </ul>

</div>

<div class="form-order">
    <form action="{% url 'basket' %}" method="post">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
            <p><label class="form-label" for="id_delivery">Требуется доставка: </label>
                <input class="small-input" type="checkbox" name="delivery" id="id_delivery">
            </p>
            <div class="form-error"></div>

        <button type="submit">Добавить</button>
    </form>
</div>

{% else %}
<p>Ваша корзина пуста!</p>
{% endif %}

{% endblock %}