{% extends 'shop/base.html' %}

{% block content %}

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5875.586357041326!2d-80.52859477280572!3d28.458931145074473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e0a363b1769281%3A0x857f9227d69da0a2!2sCape%20Canaveral%20AFS%20Launch%20Complex%2046!5e1!3m2!1sru!2sru!4v1643107770307!5m2!1sru!2sru" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<p style="text-align:center">Наш пусковой комплекс находится на мысе Канаверал, откуда мы можем отправить вас в космос,
    либо осуществить доставку вашего космического корабля!</p>
<p style="text-align: center; font-size: 15px">* Обратите внимание, что космические станции и прочие аппараты без возможности посадки,
    располагаются на орбите Земли.</p>

{% endblock %}