{% extends 'shop/base.html' %}
 
{% block content %}
 
<h1>{{post.title}}</h1>
 


<div id="container">

    <div><img src="{{first_photo.photo.url}}"></div>
    <div class="specs-container">
        <div class="specs">
            <div>Двигатели:</div>
            <div>5</div>
        </div>
        <div class="specs">
            <div>Масса:</div>
            <div>50</div>
        </div>

    </div>

</div>



  <div id="carousel" class="carousel">
    <button class="arrow prev">⇦</button>
    <div class="gallery">
      <ul>
          {% for el in photos %}

              <li><a href="#{{ el.photo }}"><img src="{{el.photo.url}}"></a></li>

              <div id="{{ el.photo }}" class="popup">
                <a href="#" class="close">X</a>
                <img class="full-img" id="bigimg" src="{{el.photo.url}}">
              </div>

          {% endfor %}
      </ul>
    </div>
    <button class="arrow next">⇨</button>
  </div>






  <script>
    /* этот код помечает картинки, для удобства разработки */
    let i = 1;
    for(let li of carousel.querySelectorAll('li')) {
      li.style.position = 'relative';
      li.insertAdjacentHTML('beforeend', `<span style="position:absolute;left:0;top:0">${i}</span>`);
      i++;
    }

    /* конфигурация */
    let width = 130; // ширина картинки
    let count = 1; // видимое количество изображений

    let list = carousel.querySelector('ul');
    let listElems = carousel.querySelectorAll('li');

    let position = 0; // положение ленты прокрутки

    carousel.querySelector('.prev').onclick = function() {
      // сдвиг влево
      position += width * count;
      // последнее передвижение влево может быть не на 3, а на 2 или 1 элемент
      position = Math.min(position, 0)
      list.style.marginLeft = position + 'px';
    };

    carousel.querySelector('.next').onclick = function() {
      // сдвиг вправо
      position -= width * count;
      // последнее передвижение вправо может быть не на 3, а на 2 или 1 элемент
      position = Math.max(position, -width * (listElems.length - count));
      list.style.marginLeft = position + 'px';
    };
  </script>

 
{{post.content|linebreaks}}
{% endblock %}